// color-palette
$palette-white: #ffff;
$palette-light-beige: #f7f4f0;
$palette-natural-beige: #d6cab7;
$palette-beige: #ad9670;
$palette-black: #211613;
$palette-gray: #808080;
$palette-light-gray: #d1d1d1;
$palette-red: #ff0000;
$palette-green: #00b900;

// color
$color-background1: $palette-white;
$color-background2: $palette-light-beige;
$color-text1: $palette-black;
$color-text2: $palette-gray;
$color-accent1: $palette-red;
$color-accent2: $palette-green;
$color-accent3: $palette-beige;
$color-text3: $palette-beige;
$color-accent1: $palette-red;
$color-accent2: $palette-green;
$color-menu-accent: $palette-light-gray;
$color-privilege-accent: $palette-natural-beige;
$color-border: $palette-light-gray;
