@use "../mixin" as *;
@use "../setting" as *;

/******** 常に表示 **********/
.js-toggle-menu.is-hidden {
  display: none;
}

/******** home-menu トグルメニュー **********/
.p-home-menu__items {
  .js-toggle-menu.is-hidden {
    display: block;
    @include mq(md) {
      display: none;
    }
  }
}

.js-toggle.is-hidden::before {
  content: normal;
}
