@use "../mixin" as *;
@use "../setting" as *;

/*********************************
	ヘッダーの設定
*********************************/
.l-header {
  background-color: rgba(255, 255, 255, 0.7);
  position: sticky;
  z-index: index($elements, l-header);
  top: 0;
  width: 100vw;
}

.l-header__inner {
  padding: 15px 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;

  @include mq(lg) {
    padding: 25px 3%;
  }
}

.l-header__gnav {
  @include mq(lg) {
    display: none;
  }
}

.l-header__logo img {
  @include mq(sm) {
    width: 85%;
  }
}

.l-header__list {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 1.5;
  display: flex;
}

.l-header__item span {
  color: #b29a71;
}

.l-header__item ~ .l-header__item {
  margin-left: 60px; //最初の要素以外に余白を指定

  @include mq(tab) {
    margin-left: 25px;
  }
}

.l-header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/*********************************
	上部固定メニュー
*********************************/

.js-header-fix {
  position: absolute;
  top: 80px;
  width: 100%;
  background-color: rgba(209, 209, 209, 0.8);
  color: #ffffff;
  opacity: 0;
  visibility: hidden;

  @include mq(md) {
    display: none;
  }
}

.js-header-fix.is-show-done {
  opacity: 1;
  visibility: visible;
}

.l-header__fix-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.l-header__fix-list {
  display: flex;
  justify-content: center;
  gap: 80px;
  list-style-type: none;
  font-size: 1.4rem;

  @include mq(lg) {
    gap: 40px;
  }

  @include mq(md) {
    gap: 25px;
    font-size: 1.3rem;
  }
}

.l-header__fix-list li a {
  position: relative;

  position: relative;

  /*hover時に下線をひく*/
  &::after {
    position: absolute;
    left: 0;
    content: "";
    width: 86%;
    height: 1px;
    background: #ffffff;
    bottom: -1px; /*アンダーラインがaタグの下端から現れる*/
    transform: scale(0, 1); /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
    transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
    transition: transform 0.3s; /*変形の時間*/
  }

  &:hover::after {
    transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
  }
}

/*********************************
	メガメニューの設定
*********************************/
.js-mega-menu-mask {
  background-color: rgba(128, 128, 128, 0.8);
  color: #ffffff;
  z-index: index($elements, l-header__mega-menu-mask);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.js-mega-menu-mask.is-show {
  visibility: hidden;
  opacity: 0;
  transition: 1s opacity;
}

.js-mega-menu-mask.is-show-done {
  opacity: 1;
  visibility: visible;
}

.l-header__mega-menu {
  color: #ffffff;
  z-index: index($elements, l-header__mega-menu);
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.l-header__mega-menu.is-show {
  visibility: hidden;
  opacity: 0;
  transition: 1s opacity;
}

.l-header__mega-menu.is-show-done {
  opacity: 1;
  visibility: visible;
}

.l-header__mega-menu-list {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  text-align: left;
  li {
    list-style-type: none;
    width: 100%;
  }
}

.l-header__mega-menu-item {
  list-style-type: none;
  margin-top: 20px;
  margin-left: 30px;
  border-left: 1px solid #ffffff;
  padding-left: 30px;

  ul {
    max-width: 700px;
    display: flex;
  }

  li {
    margin-top: 20px;
  }
}

/*********************************
	モーダルの設定
*********************************/
.l-header__modal {
  z-index: index($elements, l-header__modal);
  
}

.l-header__modal-mask {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: index($elements, l-header__modal-mask);
}

.l-header__modal-menu {
  width: 100%;
  padding: 40px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: index($elements, l-header__modal-menu);
  text-align: center;
  overflow: auto;


  @include mq(md) {
    padding-top: 0;
    padding-right: 9.8%;
    padding-bottom: 0;
    padding-left: 9.8%;
    display: flex;
    flex-direction: column;
    overflow: unset;
  }
}

.l-header__modal-menu-wrap {
  @include mq(md) {
    order: 2;
    a {
      color: $color-text2;
    }
  }
}

.l-header__modal-button {
  display: flex;
  justify-content: center;

  a {
    color: $color-text2;
  }

  @include mq(md) {
    font-size: calc(1.4rem + 10 * (100vw - 320px) / 447); //24px~14pxで可変
  }
}

.l-header__modal-login,
.l-header__modal-cart {
  width: 250px;
  display: inline-block;
  border: solid 1px $color-text1;
  text-align: center;
  padding: 7.25px 0;

  @include mq(md) {
    padding: 10px;
  }
}

.l-header__modal-cart {
  margin-left: 60px;

  @include mq(md) {
    margin-left: 20px;
  }
}

.l-header__modal-border {
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;

  @include mq(md) {
    @include mq(sp) {
      display: none;
    }
  }
}

.l-header__modal-lists {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: left;
  font-size: 1.8rem;
  height: 370px;
  overflow: auto;


  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(148, 145, 145, 0.2);
  }

  &::-webkit-scrollbar {
    width: 17px;
    height: 17px;
  }

  a {
    color: inherit;
  }

  @include mq(md) {
    display: block;
    font-size: calc(1.4rem + 10 * (100vw - 320px) / 447); //24px~14pxで可変
    height: 1000px;
  }
}

// 一番上の要素以外にmargin-topを指定
.l-header__modal-item ~ .l-header__modal-item {
  margin-top: 25px;
}

.l-header__modal-banner {
  width: 85%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  color: #ffffff;
  background: $color-text2;
  font-size: 2.4rem;
  padding: 20px;
  text-align: center;

  span {
    display: block;
    font-size: 1.4rem;
  }

  span dd {
    overflow: scroll;
    height: 100px;
  }

  @include mq(md) {
    display: none;
  }
}

.l-header__modal-banner--md {
  display: none;
  @include mq(md) {
    display: block;
    width: 85%;
    max-width: 600px;
    color: #ffffff;
    background: $color-text2;
    font-size: 2.4rem;
    padding: 20px;
    text-align: center;
    margin: 40px 0;
    font-size: calc(1.2rem + 12 * (100vw - 320px) / 447); //24px~12pxで可変

    span {
      display: block;
      font-size: calc(1rem + 4 * (100vw - 320px) / 447); //24px~12pxで可変
    }

    span dd {
      overflow: scroll;
      height: 100px;
    }
  }
}

.l-header__modal-sns {
  margin-top: 30px;

  a {
    display: inline-block;
  }

  a ~ a {
    margin-left: 15px;
  }

  @include mq(md) {
    order: 1;
    margin-top: 0;
    margin-top: -10px;
    margin-bottom: 40px;
    text-align: left;
  }
}

.l-header__modal-copyright {
  margin-top: 20px;

  @include mq(md) {
    text-align: left;
    order: 3;
    margin-top: 60px;
  }
}

/*********************************
	モーダル内のトグルメニューの設定
*********************************/
.l-header__modal-list {
  list-style-type: none;

  dd ul {
    list-style-type: none;
  }

  dd ul li {
    margin-top: 10px;
    margin-left: 20px;
  }
}

// 一番上の要素以外にmargin-topを指定
.l-header__modal-item ~ .l-header__modal-item {
  margin-top: 25px;
}

.l-header__modal-banner {
  width: 85%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  color: #ffffff;
  background: $color-text2;
  font-size: 2.4rem;
  padding: 20px;

  span {
    display: block;
    font-size: 1.4rem;
  }

  span dd {
    overflow: scroll;
    height: 100px;
  }
}

.l-header__modal-sns {
  margin-top: 30px;

  a {
    display: inline-block;
  }

  a ~ a {
    margin-left: 15px;
  }
}

.l-header__modal-copyright {
  margin-top: 20px;
}
