@use "../../mixin" as *;

.u-d-block {
  display: block;
}

.u-d-inline-block {
  display: inline-block;
}

.u-d-none {
  display: none;
}

/********   レスポンシブ **********/
.u-xl-d-none {
  @include mq(xl) {
    display: none;
  }
}
.u-md-d-none {
  @include mq(md) {
    display: none;
  }
}

.u-md-d-block {
  display: none;
  @include mq(md) {
    display: block;
  }
}

.u-lg-d-none {
  @include mq(lg) {
    display: none;
  }
}
