@use "../../mixin" as *;
@use "../../setting" as *;

.u-fw-700 {
    font-weight: 700;
}

.u-fw-500 {
    font-weight: 500;
}

.u-fw-lg-500 {
    @include mq(lg) {
        font-weight: 500;

    }
}

.u-fw-400 {
    font-weight: 400;
}

.u-fw-300 {
    font-weight: 300;
}