@use "../../mixin" as *;
@use "../../setting" as *;

.u-text-right {
  text-align: right;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-accent1 {
  color: $color-accent1;
}

.u-text-accent2 {
  color: $color-accent2;
}
