@use "../../mixin" as *;
@use "../../setting" as *;

.c-copyright {
  font-size: 10px;

  @include mq(md) {
    font-size: calc(1rem + 5 * (100vw - 575px) / 192); //15px~10pxで可変
  }

  @include mq(md) {
    font-size: 1rem;
  }
}
