@use "../../../mixin" as *;
@use "../../../setting" as *;

.p-home-access__inner {
  padding-top: 100px;
  padding-bottom: 70px;
  max-width: 1200px;
  margin: 0 auto;

  h2 {
    text-align: center;
  }

  @include mq(xl) {
    padding-right: 10%;
    padding-left: 10%;
  }

  @include mq(md) {
    padding-top: 60px;
  }
}

.p-home-access__sub-title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;

  @include mq(lg) {
    margin-top: 40px;
  }
}

.p-home-access__content {
  padding-top: 40px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;

  @include mq(xl) {
    display: block;
    text-align: center;
  }

  @include mq(md) {
    display: block;
    text-align: center;
  }
}

.p-home-access__text {
  max-height: 520px;

  p + span {
    line-height: 1.714;
  }

  /* 2つ目以降のp要素にmargin-topを指定 */
  p + p {
    margin-top: 7px;
  }

  @include mq(xl) {
    display: inline-block;
    text-align: left;
  }

  @include mq(md) {
    font-size: calc(1.6rem + 8 * (100vw - 575px) / 192); //24px~16pxで可変
     p + p {
      margin-top: 15px;
     }
  }

  @include mq(sm) {
    font-size: 1.6rem;
  }
}

.p-home-access__gmap {
  position: relative;
  width: 100%;
  max-width: 535px;
  height: 0;
  padding-top: 50.74%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include mq(xl) {
    display: inline-block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70%;
  }

  @include mq(md) {
    max-width: unset;

  }
}

.p-home-access__reserve {
  display: none;

  @include mq(md) {
    display: block;
  }
}
