@use "../../../mixin" as *;
@use "../../../setting" as *;

.p-home-privilege {
  background: $color-background2;
  color: $color-text3;
  line-height: 1.625;
}

.p-home-privilege__inner {
  padding-top: 100px;
  padding-bottom: 60px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @include mq(xl) {
    padding-right: 5%;
    padding-left: 5%;
  }
}

.p-home-privilege__title {
  text-align: center;

  & + p {
    margin-top: 50px;
    span {
      margin-left: 30px;
    }
  }

  @include mq(lg) {
    & + p {
      span {
        margin-left: 0;
      }
    }
  }
}

/******** viewport 1025px以上で表示 **********/
.p-home-privilege__table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.333;

  @include mq(md) {
    display: none;
  }

  /* 2行目以降にborder-leftを指定 */
  th + th,
  td + td {
    border-left: 1px solid $color-text3;
  }

  /* 1列目見出しの最大幅は330pxで可変、2列目以降は等間隔で可変 */
  th ~ th {
    width: calc(100% - 330px);
  }

  /* 3行目以降border-topを指定 */
  tr:nth-child(n + 3) td {
    border-top: 1px solid $color-text3;
  }

  /* n番目のborder-topを破線にする */
  tr:nth-child(5) td,
  tr:nth-child(7) td,
  tr:nth-child(9) td,
  tr:nth-child(11) td {
    border-top: 1px dashed $color-text3;
  }

  tr {
    position: relative;
  }

  th {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    background: $color-privilege-accent;
    font-weight: 400;
  }

  th span {
    display: block;
  }

  td {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fff;
    color: $color-accent3;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: auto;
  }
}

/******** viewport 1024px以下で表示 **********/
.p-home-privilege__table--lg {
  display: none;

  @include mq(md) {
    display: table;
    margin-top: 20px;
    text-align: center;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    th,
    td {
      padding-top: 3%;
      padding-bottom: 3%;
    }

    /* 2列目以降にborder-leftを指定 */
    th + td {
      border-left: 1px solid $color-text3;
    }

    /* 2行目にborder-topを指定 */
    tr + tr td {
      border-top: 1px solid $color-text3;
    }

    th {
      color: #fff;
      background: $color-privilege-accent;
      font-weight: 400;
    }

    td {
      background: #fff;
    }
  }
}

.p-home-privilege__present {
  position: relative;
  padding-left: 190px;
  text-align: left;

  &::before {
    @include pseudo("プレゼント");
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background: $color-privilege-accent;
    color: #fff;
    display: inline-block;
    font-size: 1.8rem;
    border-radius: 15px;
    padding: 7px 26px;
  }

  span {
    margin-left: 19%;
  }
}

.p-home-privilege__example {
  border-top: 1px solid $color-text3;
  border-bottom: 1px solid $color-text3;
  margin-top: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;

  p {
    display: inline-block;
    text-align: left;
    position: relative;
  }

  @include mq(xl) {
    padding-top: 45px;
  }

  @include mq(md) {
    margin-top: 40px;
  }

  p::before {
    @include pseudo("＜例＞");
    left: -70px;

    @include mq(xl) {
      top: -30px;
      left: 0px;
    }
  }
}

.p-home-privilege__sns {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 70px;

  hr {
    border-top: 1px solid $color-text3;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }

  @include mq(lg) {
    gap: 30px;
  }

  @include mq(md) {
    flex-direction: column;
    align-items: center;
  }
}

.p-home-privilege__sns-box {
  width: 100%;
  max-width: 450px;

  @include mq(md) {
    max-width: 650px;
    width: 90%;
  }
}
