@use "../../../mixin" as *;
@use "../../../setting" as *;

.p-home-about {
  background: $color-background2;
}

.p-home-about__inner {
  padding: 80px 0;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;

  @include mq(xl) {
    padding-right: 10%;
    padding-left: 10%;
  }

  @include mq(md) {
    padding-top: 50px;
    padding-bottom: 0;
  }
}

.p-home-about__content {
  @include mq(lg) {
    margin: 0 auto;
  }
}

.p-home-about__title {
  font-size: 2.4rem;
  color: $color-accent3;
  margin: 0 auto;
  margin-top: 60px;

  @include mq(md) {
    font-size: calc(1.1rem + 13 * (100vw - 320px) / 447); //24px~11pxで可変

  }

}

.p-home-about__sub-title {
  color: $color-text2;
  font-size: 3.6rem;
  display: block;
  margin-top: 15px;

  @include mq(md) {
    font-size: calc(1.5rem + 21 * (100vw - 320px) / 447); //36px~24pxで可変
  }

  @include mq(lg) {
    margin-top: 10px;
  }
}

.p-home-about__body {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 100px;

  @include mq(xl) {
    gap: 50px;
  }

  @include mq(md) {
  }

  @include mq(lg) {
    display: block;
    max-width: 600px;
  }
}

.p-home-about__body02 {
  @include mq(lg) {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }
}

.p-home-about__img {
  position: relative;
  width: 600px;

  &::after {
    @include pseudo($content: "This is a sample image.");
    font-size: 10px;
    letter-spacing: 0.1em;
    color: #d1d1d1;
    right: 0;
    margin-top: 10px;
  }

  @include mq(lg) {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
}

.p-home-about__text {
  width: 100%;
  max-width: 500px;
  margin-top: 30px;

  p {
    text-align: justify;
    margin-top: 50px;
    line-height: 2.25;

    @include mq(md) {
      margin-top: 30px;
    }
  }

  @include mq(lg) {
    margin-left: 0;
    margin-right: auto;
    max-width: 100%;
  }
}

.p-home-about__border {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
